/* .container .display {
    display: flex;
    align-items: flex-start;
}  */

img {
    width: 10rem;
    height: 10rem;
    float: left;
    margin-right: 10px;
}

p {
    text-align: justify;
    margin-top: 0%;
}